/Api/Unab.Practice.Employee/.vs
/Api/Unab.Practice.Employee/.vs/ProjectEvaluation
/Api/Unab.Practice.Employee/Unab.Practice.Employee.Domain/bin
/Api/Unab.Practice.Employee/Unab.Practice.Employee.Dto/bin/Debug
/Api/Unab.Practice.Employee/Unab.Practice.Employee.WebApi/obj
